<html>
  <head>
    <link href="/css/teamsapp.css" title="escape" rel="stylesheet" type="text/css"/>
    <link type="text/css" href="css/smoothness/jquery-ui-1.8.7.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.8.7.custom.min.js"></script>
    <title>Teams</title>
  </head>
  <body>
  <a href="<%=APP_INFO[APP_ENV][:url]%>">Home</a>